<ion-view view-title="Boghylde">
  <ion-content>
    <ion-list>
      <ion-item href="#/book-player/{{book.id}}" class="open-book item item-thumbnail-left" ng-repeat="book in books">
        <img ng-src="http://bookcover.e17.dk/{{ book.id }}_h75.jpg" src="images/blankbookcover.png" style="width: auto; height: auto;" />
        <h2 class="book-title">{{ book.title }}</h2>
        <p class="book-author">{{ book.author }}</p>
        <div class="download-buttons-box" ng-if="false">
          <button class="btn glyphicon glyphicon-download" ng-show="!book.downloaded && !book.downloading" ng-click="cacheBook($event, book.id)" title="Download til offline"></button>

          <button class="btn glyphicon glyphicon-remove" ng-show="!book.downloaded && book.downloading" ng-click="cancelBookCaching($event, book.id)" title="Stop download"></button>

          <button class="btn glyphicon glyphicon-remove-circle" ng-show="book.downloaded" ng-click="clearBookCache($event, book.id)" title="Fjern fra offline brug"></button>
        </div>
        <div class="progress" ng-show="book.downloading !== undefined && !book.downloaded">
          <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{book.downloading}}" aria-valuemin="0" aria-valuemax="100" style="width: {{book.downloading}}%">
            <span class="sr-only">{{book.downloading}}%</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <button type="button" class="btn btn-default" ng-click="nextPage()">Flere bøger</button>
  </ion-content>
</ion-view>
